@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Syne:wght@400..800&display=swap");

@import "tailwindcss";

@theme {
  --font-nav: "Syne", sans-serif;
  --font-body: "Space Grotesk", sans-serif;
}

body {
  font-family: var(--font-body);
}
